# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (Linux)
*.so
*.so.*

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.mod

# CLion specific files
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-*/

# CMake specific files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Logs
*.log

# Other
*.DS_Store